<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload</h1>
    <p>5gb limit.</p>
    <p>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="fileName" name="fileName"/><br><br>
    <input type="submit" value="Submit"/>
  </form></p>
  <p><a href="/">Home</a></p>
  </body>
</html>