<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>:)</h1>
    <h2><a href='<%= path %>'>Link to uploaded file</a></h2>
    <p><a href="/upload">Upload More</a>
    <p><a href="/">Home</a></p>
  </body>
</html>